body{
    font-family: 'Sora', sans-serif;
    color: #394150;
    background-color: #FAFAF9;
}

.grid-container {
    display: grid;
    height:100vh;
    place-items: center;
}

.flex-card-container{
    display:flex;
    flex-direction: column;
    width:368px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 10px 10px 20px rgba(57, 65, 80, 0.3);
    background-color: #ffffff;
    gap: 20px;
}

.card-image{
    display:flex;
}
.card-image img{
    width:100%;
    border-radius: 16px;
}

.card-button{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #F2EAFD;
    align-self: start;
    margin-top:10px;
    border-radius: 16px;
    height:30px;
    width:70px;
}
.button-text{
    font-size: 10px;
    font-weight: 600;
    color: #7C19EE;
}

h2{
    font-size: 18px;
    font-weight: 600;
    margin:0;
}
p{
    font-size: 14px;
    font-weight: 400;
    margin:0;
}
.author-name{
    font-size: 12px;
    font-weight: 400;
}
.separator{
    width:auto;
    height:1px;
    background-color: #E5EAF0;
    margin: 16px -16px;
}